body {
    background: #1E555C;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Righteous';
}
body #container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
body #container .main-title{
    font-size: 50px;
    margin-bottom: 20px;
}
body #container .btn-level, body #container .length-control {
    display: inline-block;
}
body #container .length-control {
    width: 250px;
}
body #container button {
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}