body {
    background: #1E555C;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Righteous';
}
body #container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}